@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

html {
  scroll-behavior: smooth;
}

#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#root-body {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.stop-scrolling {
  height: 100vh;
  overflow: hidden;
}
#root-body-hidden {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.expandButtonContainer {
  width: 130px;
}

.expandButton {
  width: 110px;
  transition: width 0.3s ease-in-out;
}

.expandButton:hover,
.expandButton:focus {
  width: 130px;
}

.expandButtonContainerSecondary {
  width: 140px;
}

.expandButtonContainerSecondary .expandButton {
  width: 105px;
  transition: width 0.3s ease-in-out;
}

.expandButtonContainerSecondary .expandButton:hover,
.expandButtonContainerSecondary.expandButton:focus {
  width: 140px;
}

.expandButtonContainerThird {
  width: 155px;
}

.expandButtonContainerThird .expandButton {
  width: 115px;
  transition: width 0.3s ease-in-out;
}

.expandButtonContainerThird .expandButton:hover,
.expandButtonContainerThird.expandButton:focus {
  width: 155px;
}

.expandButtonIcon {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.expandButton:hover .expandButtonIcon,
.expandButton:focus .expandButtonIcon {
  opacity: 1;
}

.elipces_shadow {
  clip-path: ellipse(50% 15% at 50% 51%);
}

.carousel-container {
  width: 100%;
}

.carousel {
  display: flex;
  animation: scrollCarousel 60s infinite linear;
}

.carouselReverse {
  display: flex;
  animation: scrollCarouselReverse 60s infinite linear;
}

.carousel-track {
  display: flex;
  width: max-content;
}

.carousel-item {
  margin-right: 1rem;
}

@keyframes scrollCarousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-600%);
  }
}

@keyframes scrollCarouselReverse {
  0% {
    transform: translateX(-600%);
  }
  100% {
    transform: translateX(0%);
  }
}

.carouselEmployees {
  display: flex;
  animation: scrollCarouselEmployee 20s infinite linear;
}

.carouselEmployeeReverse {
  display: flex;
  animation: scrollCarouselEmployeeReverse 20s infinite linear;
}

.carouselEmployees--slow {
  display: flex;
  animation: scrollCarouselEmployee--slow 5s infinite linear;
}

.carouselEmployeeReverse--slow {
  display: flex;
  animation: scrollCarouselEmployeeReverse--slow 5s infinite linear;
}

@keyframes scrollCarouselEmployee--slow {
  0% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes scrollCarouselEmployeeReverse--slow {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes scrollCarouselEmployee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-250%);
  }
}

@keyframes scrollCarouselEmployeeReverse {
  0% {
    transform: translateX(-250%);
  }
  100% {
    transform: translateX(0%);
  }
}

.feeds_scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.feeds_scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-tab-container {
  overflow-x: auto;
  scrollbar-color: transparent transparent;
  user-select: none;
  cursor: url("./assets/images/cola_placeholder.svg"), auto;
}

.scroll-tab-container::-webkit-scrollbar {
  height: 8px;
  scrollbar-color: transparent;
}

.chatscroll {
  scrollbar-color: #555555 #000;
}

.chatscroll::-webkit-scrollbar {
  scrollbar-color: #555555 #000;
  scrollbar-width: thin;
}

.chatscroll::-webkit-scrollbar-thumb {
  background-color: #555555;
  width: 8px; /* Adjust the width as needed */
}

.chatscroll::-webkit-scrollbar-thumb:hover {
  background-color: #888888;
}

.chatscroll::-webkit-scrollbar-track {
  background-color: #000000;
}

#container,
#container2,
#container3,
#container4 {
  transition: transform 1s ease;
}

.customCursor {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  animation-name: stretch;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    opacity: 0.2;
    background-color: green;
    border-radius: 100%;
  }

  50% {
    background-color: orange;
  }

  100% {
    background-color: red;
  }
}
