@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#root-body {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.expandButtonContainer {
  width: 130px;
}

.expandButton {
  width: 110px;
  transition: width 0.3s ease-in-out;
}

.expandButton:hover,
.expandButton:focus {
  width: 130px;
}

.expandButtonContainerSecondary {
  width: 140px;
}

.expandButtonContainerSecondary .expandButton {
  width: 105px;
  transition: width 0.3s ease-in-out;
}

.expandButtonContainerSecondary .expandButton:hover,
.expandButtonContainerSecondary.expandButton:focus {
  width: 140px;
}

.expandButtonContainerThird {
  width: 155px;
}

.expandButtonContainerThird .expandButton {
  width: 115px;
  transition: width 0.3s ease-in-out;
}

.expandButtonContainerThird .expandButton:hover,
.expandButtonContainerThird.expandButton:focus {
  width: 155px;
}

.expandButtonIcon {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.expandButton:hover .expandButtonIcon,
.expandButton:focus .expandButtonIcon {
  opacity: 1;
}

.elipces_shadow {
  clip-path: ellipse(50% 15% at 50% 51%);
}

.carousel-container {
  overflow: hidden;
  width: 100%;
}

.carousel {
  display: flex;
  animation: scrollCarousel 6s infinite linear;
}

.carousel-track {
  display: flex;
  width: max-content;
}

.carousel-item {
  margin-right: 1rem;
}

@keyframes scrollCarousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.feeds_scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.feeds_scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
